{{#extend "stylesheets"}}
  <link rel="stylesheet" href="about.css">
{{/extend}}
<div class= 'container'>
      
    
        <div class= 'container-fluid'>
            <div class = "row">
                <div class = "col">
                    <img src= "instinct.jpg" class="image-fluid mx-auto d-block" />
                </div>
                <div class="col">
                    <h3>
                        You’re out in the splendor of the forest enjoying all that nature has to offer
                        <small class="text-muted"> when you hear a chittering behind you, and – purely from instinct – turn to see a marvelous wren flush from its haven.  Wouldn’t it be nice to preserve that feeling, and have a way to look back at all the times your instincts were correct?</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <blockquote class="blockquote">
                        <p class="blockquote"> This app is designed to give you the sense of completion for recording that moment and provides you the digital building blocks for shaping your ornithologists “life list”.  You can tag your birds location, add species codes, and keep a list of your sightings all with the push of a button.  This app allows you the flexibility of turning your everyday trips into a birding adventure, giving you the satisfaction of compiling your most coveted sightings in one simple, easy to use interface.</p>
                        <p class="blockquote"><em>Your instinct is calling</em></p>
                        <footer class="blockquote-footer">Writer's credit: <cite title="Source Title">Scott A Cooney</cite></footer>
                    </blockquote>
                </div>
                <div class="col">
                     <img src= "birdApp.jpg" class="image-fluid mx-auto d-block" />
                </div>
            </div>
        </div>
</div>