<section style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

            <div class="text-center mb-4 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-quotes/bulb.webp"
                alt="Bulb" width="100">
            </div>

            <figure class=" mb-0">
              <blockquote class="blockquote">
                <h2>About this data</h2>
                <p class="pb-3">
                    <span class="lead font-italic">Data is accurate as of the time of access.</span>
                    <div>
                        To help improve our data quality <a href="/map" role="button">sign up with Birdr</a>
                        or <a href="https://docs.google.com/spreadsheets/d/16XpVdPkNeXHdI0OWv8nQE-XUi20Y418-Ua6h1Kpax2I/edit?usp=sharing" > click here </a>to learn about other ways to help.
                    </div>
                    <div>
                        If you're interested accessing our raw data <a role="button" class="btn btn-secondary" href="mailto:supportBirdApp@proton.me"> Email Us</a>
                    </div>
                </p>
              </blockquote>
              <figcaption class="footer mb-0">
                Data is property of Birdr
              </figcaption>
            </figure>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>