<div class= 'container'>
    <h2>Filter Options </h2>
    <form>
        <div class = 'form-group'>
            <label for="speciesSearch">Species
                <input type="text" class="form-control" id="speciedSearch" aria-describedby="speciesSearchExp" >
            </label>
            <small id="speciesSearchExp" class="form-text text-muted">Input 4 letter code, 6 letter code, Scientific Name, or English Name</small>
        </div>
        <div class = 'form-group'>
            <label for="functionalGroup"> Functional Group
                <select class="form-control" type= 'select' id= "functionalGroup" >
                    <option value = '0'> Select</option>
                    <option value = '1'> Nightjars</option>
                    <option value = '2'> Ducks</option>
                    <option value = '3'> Geese</option>
                    <option value = '4'> Woodpeckers</option>
                    <option value = '5'> Songbirds</option>
                    <option value = '6'> Owls</option>
                    <option value = '7'> Vultures</option>
                    <option value = '8'> Doves</option>
                    <option value = '9'> Gamebirds</option>
                    <option value = '9'> Seabirds</option>
                    <option value = '9'> Shorebirds</option>
                    <option value = '9'>Wading Birds</option>
                    <option value = '9'> Raptors</option>
                </select>
            </label>

        </div>
          
            <button class="btn btn-light" id = "submitBird">Submit</button>
        </div>
    </form>

</div>