{{#extend "stylesheets"}}
    <link rel="stylesheet" href="filterSearchStyles.css">
{{/extend}}
<div class= 'container-fluid'>
    <div class="justify-content-center align-items-center">
        <form id = 'searchForm'>
            <div class="form-group">
                <div class ="row">
                    <label for="speciesSearch">Species
                        <select class="form-control dropdown-basic-single" type= 'select' id= "speciesSearch" autocomplete= "on" style="width:100%">
                            <option value = '0'> Select</option>
                        </select>
                    </label>
                </div>
                <div class ="row">
                    <small id="speciesSearchExp" class="form-text text-muted">Input 4 letter code, 6 letter code, Scientific Name, or English Name</small>
                </div>
            </div>
            <div class = 'form-group'>
                <div class ="row">
                    <label for="functionalGroup"> Functional Group
                        <select class="form-control search-select-basic-single" type= 'select' id= "functionalGroup" autocomplete= "on" style="width:100%">
                            <option value = '0' selected > Select</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class= "form-group">
                 <button class="btn btn-secondary" id = "search-submitBird">Submit</button>
            </div>
        </form>
    </div>
</div>



{{#extend "scripts"}}
    <script src = "toGeoJson.js" > </script>
    <script src = "filterSearch.js" > </script>
{{/extend}}
