{{#extend "stylesheets"}}
      <link rel="stylesheet" href="heroStyles.css">
{{/extend}}

<div class="jumbotron jumbotron-fluid bgimage">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class= "text-white">
          <h1 class="display-4">Birdr</h1>
          <p class= 'lead'>Your instinct is calling </p>
          <p><a href="/map" class="btn btn-outline-light btn-lg">Get Started</a></p>
    </div>


  </div>
</div>