{{#extend "stylesheets"}}
      <link rel="stylesheet" href="heroStyles.css">
{{/extend}}
{{!-- <section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="heroText">
        <h5>Bird App</h5>
        <p>Here's why you should use it </p>
        <p><a href="/map" class="btn btn-secondary btn-large">Get Started</a></p>
      </div>
    </div>
  </div>
</section> --}}
<div class="jumbotron jumbotron-fluid bgimage">
  <div class="container">
    <h1 class="display-4">Bird App</h1>
    <p>Here's why you should use it </p>
    <p><a href="/map" class="btn btn-secondary btn-large">Get Started</a></p>
  </div>
</div>