{{#extend "scripts"}}
    <script src = "maps.js" > </script>
{{/extend}}
{{#extend "stylesheets"}}

{{/extend}}
<div id="map" style="clear:both; height:500px ;" class= 'container'>
    <script>
        function getData() {
            let geoData 
            return fetch('https://cs361-microservice-geojson.herokuapp.com/', {
            method: 'GET',
            mode: 'cors',
            headers: {
            'Content-Type': 'application/json'
            }
            })
            .then(response => {
           
            let data = response.json()
            geoData = data
            return geoData
            })
        }
    </script>
    <script>
        var jsonData ={ 
        "type": "FeatureCollection",
            "features": [
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [-87.632401, 41.883228]},
                "properties": {"Species": "Black Swift", "ID": 1235 ,  'functionalGroup': 'Nightjars'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [-84.2844121, 30.451092]},
                "properties": {"Species": "Cliff Swallow", "ID": 1551 ,  'functionalGroup': 'Ducks'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [-123.277700, 44.571650]},
                "properties": {"Species": "Cocos Finch", "ID": 1558 ,  'functionalGroup': 'Geese'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [-110.495266372175, 42.384358801476]},
                "properties": {"Species": "Alder Flycatcher", "ID": 1073 ,  'functionalGroup': 'Woodpeckers'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [-92.665764795590, 41.384348705088]},
                "properties": {"Species": "Double-crested Cormorant", "ID": 1675, 'functionalGroup': 'Songbirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -96.635965311601, 39.385328962366]},
                "properties": {"Species": "Gray Trembler", "ID": 1850,  'functionalGroup': 'Owls'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -103.836471930713, 328.394358110718]},
                "properties": {"Species": "Hawaii Creeper", "ID": 3293 ,  'functionalGroup': 'Vultures'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -97.665069430882, 41.385318548734]},
                "properties": {"Species": "Keel-billed Motmot", "ID": 1989,  'functionalGroup': 'Doves'}
            }, 
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -119.596370212284, 43.394348446565]},
                "properties": {"Species": "Long-billed Hermit", "ID": 2104,  'functionalGroup': 'Gamebirds' } 
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -119.596370212284, 43.394348446565]},
                "properties": {"Species": "Lesser Golden-Plover", "ID": 2055,  'functionalGroup': 'Seabirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -118.584565912668, 41.385338299819]},
                "properties": {"Species": "Oak Titmouse", "ID": 2256, 'functionalGroup': 'Shorebirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -85.696870280864, 49.395358761650]},
                "properties": {"Species": "Painted Parakeet", "ID": 2323 ,  'functionalGroup': 'Nightjars'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -108.498365777650, 49.395318411943]},
                "properties": {"Species": "Reddish Egret", "ID": 2496,  'functionalGroup': 'Wadingbirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -82.498262434405, 49.385318964527]},
                "properties": {"Species": "Scarlet Tanager", "ID": 2900 , 'functionalGroup': 'Raptors'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [ -108.516070356913, 48.396338733819]},
                "properties": {"Species": "Spotted Barbtail", "ID": 3040, 'functionalGroup': 'Owls'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [  -103.558974586671, 32.396308923286]},
                "properties": {"Species": "Transvolcanic Jay", "ID": 3161,  'functionalGroup': 'Wadingbirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [  -86.605464398829, -86.605464398829]},
                "properties": {"Species": "White-cheeked Pintail", "ID": 2675,  'functionalGroup': 'Shorebirds'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [  -117.494766432798, 46.386308998442]},
                "properties": {"Species": "Yellow-bellied Seedeater", "ID": 2795,  'functionalGroup': 'Raptors'}
            },
            { "type": "Feature",
                "geometry": {"type": "Point", "coordinates": [   -115.644459000738,  48.39431851270]},
                "properties": {"Species": "Zenaida Dove", "ID": 2873,  'functionalGroup': 'Ducks'}
            },
        ]
        }
        let filterData
        searchData = getData().then(response=> {
            filterData= response
        })

        function initMap() {
     
            map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 41.850033, lng: -87.6500523 },
            zoom: 5,
            });
        
            map.data.addGeoJson(jsonData);
            map.data.setStyle({
                strokeColor: "blue"
            })
            var infowindow = new google.maps.InfoWindow();
                

            map.data.addListener('click', function(event) {
            var feat = event.feature;
            var html = "<b>" + feat.getProperty('Species')+ "</b>"
            infowindow.setContent(html);
            infowindow.setPosition(event.latLng);
            infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
            infowindow.open(map);
                
            })
   

            const locationButton = document.createElement("button");

            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => { 
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent("Location found.");
                    infoWindow.open(map);
                    map.setCenter(pos);
                },
                () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            });
        }


    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nbhtbGeolVY2g-PckOOSnfe3Fabea0w&callback=initMap&v=weekly&channel=2"></script>
    
</div>