{{#extend "scripts"}}
    <script src = "maps.js" > </script>
{{/extend}}
{{#extend "stylesheets"}}

{{/extend}}
<div id="map" style="clear:both; height:500px ;" class= 'container'>
    <script>
        function getData() {
            let geoData 
            return fetch('https://cs361-microservice-geojson.herokuapp.com/', {
            method: 'GET',
            mode: 'cors',
            headers: {
            'Content-Type': 'application/json'
            }
            })
            .then(response => {
           
            let data = response.json()
            geoData = data
            return geoData
            })
        }


        
    </script>
    <script>

        function initMap() {
            getData()
            .then(response =>{
                map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 41.850033, lng: -87.6500523 },
                zoom: 5,
                });
           
                map.data.addGeoJson(response);
                map.data.setStyle({
                    strokeColor: "blue"
                })
                var infowindow = new google.maps.InfoWindow();
                

                map.data.addListener('click', function(event) {
                var feat = event.feature;
                var html = "<b>" + feat.getProperty('Species')+ "</b>"
                infowindow.setContent(html);
                infowindow.setPosition(event.latLng);
                infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
                infowindow.open(map);
                
            })
        });

            const locationButton = document.createElement("button");

            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => { 
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent("Location found.");
                    infoWindow.open(map);
                    map.setCenter(pos);
                },
                () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
            });
        }


    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nbhtbGeolVY2g-PckOOSnfe3Fabea0w&callback=initMap&v=weekly&channel=2"></script>
    
</div>