{{#extend "scripts"}}
{{/extend}}
{{#extend "stylesheets"}}
{{/extend}}

<script>
    var geoData = {{{data}}};
</script>

<div id="map" style="clear:both; height:500px ;" class= 'container'>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nbhtbGeolVY2g-PckOOSnfe3Fabea0w&v=weekly&channel=2"></script>
</div>


<script>
    function initMap(geoData) {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 41.850033, lng: -87.6500523},
            zoom: 17,
            gestureHandling: "cooperative",
        });
        map.data.addGeoJson(geoData);
        map.data.setStyle({
            strokeColor: 'blue'});
        //set current position
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(initialLocation);
            });
        }
        //info windows
        const infoWindow = new google.maps.InfoWindow();
        const locationButton = document.createElement('button');
        locationButton.textContent = 'Pan to Current Location';
        locationButton.classList.add('custom-map-control-button');
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);

        map.data.addListener('click', function(event) {
            const feat = event.feature;
            const html = '<b>' + feat.getProperty('englishName')+ '</b>';
            infoWindow.setContent(html);
            infoWindow.setPosition(event.latLng);
            infoWindow.setOptions({pixelOffset: new google.maps.Size(0, -34)});
            infoWindow.open(map);
        });

        // pan to location button
        locationButton.addEventListener('click', () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                        };
                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    },
                );
            } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
            }
        });
    }; 
    initMap(geoData);
</script>