{{#extend "scripts"}}
    <script src = "maps.js" > </script>
{{/extend}}
{{#extend "stylesheets"}}

{{/extend}}
<div id="map" style="clear:both; height:500px ;" class= 'container'>
    <script>
        
    </script>
    <script>
    </script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nbhtbGeolVY2g-PckOOSnfe3Fabea0w&callback=initMap&v=weekly&channel=2"></script>
    
</div>