{{#extend "scripts"}}
   
{{/extend}}
{{#extend "stylesheets"}}

{{/extend}}
<div class="modal fade" id="reportBirdModal" tabindex="-1" aria-labelledby="reportBirdModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="missingBirdTitle">Missing Bird</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Think we're missing something?</h3>
        <p> If you think we should add a bird to our database provide the bird's information below. </p>
         <form  action="https://formspree.io/f/mleazwnd" method="POST" class="needs-validation" novalidate>
          <div class = 'form-group'>
            <label for="newBirdName">Species
              <input type="text" class="form-control" name ="newBirdName" id="newBirdName" aria-describedby="newBirdNameExp" placeholder="English Name" required>
              <div class="invalid-feedback">Please enter english name</div>
            </label>
          </div>
            <div class = 'form-group'>
              <label for="scientificName">Scientific Name
                <input type="text" class="form-control" id="scientificName"  name ="scientificName" aria-describedby="scientificNameExp" placeholder="Scientific Name" required>
                 <div class="invalid-feedback">Please enter scientific name</div>
              </label>
          </div>
          <div class = 'form-group'>
            <div class = 'form-group'>
              <a href="/help" class="link-secondary" target="_blank" rel="noopener noreferrer" >What are these letter codes?</a>
            </div>
            <label for="4LetterCode">4 Letter Code
              <input type="text" class="form-control" name ="4LetterCode" id="4LetterCode" aria-describedby="codeExp">
            </label>
              <label for="6LetterCode">6 Letter Code
              <input type="text" class="form-control" name = "6LetterCode" id="6LetterCode" aria-describedby="codeExp">
            </label>
          </div>

            <div class = 'form-group'>
                 <button type="submit" class="btn btn-primary">Submit</button>
            </div>
             
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteBirdModal" tabindex="-1" aria-labelledby="deleteBirdModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteBirdModalTitle">Delete Bird</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You have successfuly deleted this entry.</p>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="explainModal" tabindex="-1" aria-labelledby="explainModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="explainModalTitle">Logging Birds</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Logging a bird adds a waypoint to the map so that birdwatchers can help eachother find interesting birds.</p>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="explainModalTitle">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You have successfuly reported a sighting</p>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="explainModalTitle">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>There was a problem completing your request. Please try again later or 
          <a href="mailto:supportBirdApp@proton.me"> contact us </a> to report this problem.
        </p>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchNoResults" tabindex="-1" aria-labelledby="searchNoResults" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="explainModalTitle">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Just a heads up- we couldn't find any results to match your search criteria.</p>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
        // Self-executing function
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

