{{#extend "stylesheets"}}
{{/extend}}
{{>modal}}
<div id = 'reportbird' class= 'container'>
    <h2>Report bird sighting <button class= 'btn btn-light' data-bs-toggle="modal" data-bs-target="#explainModal">?</button></h2> 
    <form>
        <div class = 'form-group'>
             <label for="birdName"> Bird
                <select class="form-control bird-select-basic-single" type= 'select' id= "birdName" autocomplete= "on">
                    <option value = '0'> Select</option>
                </select>
            </label>
            <button class="btn btn-light" id = "submitBird" data-bs-toggle="modal" data-bs-target="#successModal">Submit</button>
        </div>
    </form>
    <p>Is the bird you saw not listed? 
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#reportBirdModal">Click here</button>
    </p>
</div>
{{#extend "scripts"}}
    <script src = "showModal.js" > </script>
    <script src = "reportbird.js" > </script>
{{/extend}}