<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {{>navbar}}   
    {{>reportbird}}
    {{>slider}}
    {{>map}}  
    {{>filterSearch}}  
    {{>footer}}
    {{>alert}}
    {{>kofipanel}} 
    {{>modal}}
</body>
</html>