<!DOCTYPE html>
<html lang="en">
<head>

   {{#extend "scripts"}}
    
    {{/extend}}
    {{#extend "stylesheets"}}

    {{/extend}}

</head>
<body>

    {{>navbar}}   
    {{>reportbird}}
    {{>map}} 
    {{>filter}} 
    {{>footer}}  
    {{>modal}}
</body>
</html>