<!DOCTYPE html>
<html lang="en">
<head>

   {{#extend "scripts"}}
    
    {{/extend}}
    {{#extend "stylesheets"}}

    {{/extend}}

</head>
<body>

    {{>navbar}}   
    {{>profile}}
    {{>footer}}  
</body>
</html>