.jumbotron {
  color: white;
  background: url('heroImage.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;  


}

