.jumbotron {
  color: white;
  background: url('https://birdr-app.s3.amazonaws.com/public/heroImage.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;  

}

