.logo { 
    width: 100px; 
    height: 100px; 
    display: block; 
    text-indent: -9999px;
}

.navbar-brand {
    padding-left: 10px;
}
.navbar-nav, .nav-item, .navbar-toggler{
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.userAccount{
    padding-right: 10px;
}